:root {
    --primary-color: #093A3E;
    --secondary-color: #3AAFB9;
    --accent1-color: #64E9EE;
    --accent2-color: #EDBF85;  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--accent1-color);
    min-height: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    padding-left: 1rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.hide {
    color: var(--accent1-color);
}

#menu {
    text-decoration: none;
    padding-top: 0.5rem;
    padding-right: 2rem;
}

#menu::after {
    content: "≡";
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
}

#menu.show::after {
    content: "X";
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    list-style: none;
    padding-top: 1rem;
}

.navigation.show li {
    text-align: center;
    padding-bottom: 1rem;
}

.navigation.show a {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}

.navigation a:hover {
    text-decoration: underline;
    color: white;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 3rem;
}

h2 {
    grid-column: span 3;
    padding: 2rem 0 1rem 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 600px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    h2 {
        grid-column: span 2;
    }
}

@media (max-width: 400px) {
    main {
        grid-template-columns: 1fr;
    }

    h2 {
        grid-column: span 1;
    }
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

footer {
    padding: 2rem;
    background: var(--accent1-color);
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    height: 15vh;
  }

.footer-js {
  text-align: center;
}